@model AI_based_Language_Teaching.Models.Curriculum

<h2>Create Curriculum</h2>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="LanguageLevel"></label>
        <input asp-for="LanguageLevel" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
