<nav id="navId" class="navbar fixed-top   navbar-expand-lg z-3 pt-4  text-white ">
    <div class="container-fluid  ">
        <a class="navbar-brand start-5 " href="#">
            <div class="">
                <img src="./assets/Logo.png" alt="FluentFlow">
            </div>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse  navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item home ">
                    <a class="nav-link active  " aria-current="page" href="#Home">Learning</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  " aria-current="page" href="#About">Questions</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link  " aria-current="page" href="#Services">Vocals</a>
                </li>
            </ul>
            <form class="d-flex m-auto w-25 search" role="search">
                <input class="form-control rounded-5  me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="icons d-flex">
                <i class="fa-regular fa-bell "></i>
                <i class="fa-solid d-flex justify-center items-center fa-fire">
                    <span class="ms-2 pt-1 num fs-4">3</span>
                </i>
                <div class="profile-icon ">
                    <i class="fa-solid fa-user "></i>
                </div>
                
            </div>
        </div>
    </div>
        
</nav>