

.answer
{
  cursor: pointer;

  position: relative;
//   top: 250px;
  padding-top: 40px;
  padding-bottom: 40px;
  
  background-color: #f27ba5;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(255, 80, 165, 0.7);
  color: white;
  transition: all 0.3s ease;
}

.answer:hover
{
  transform: scale(1.02);
  background-color: #b01965;
  box-shadow: 0px 2px 20px rgba(255, 80, 165, 0.7);
}

.answer h1
{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
}


.container-fluid
{
    position: relative;
    top: 80px;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;


}