<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="image">
                <img src="./assets/freepik__the-style-is-candid-image-photography-with-natural__63818.png" alt="login">
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="title p-0">
                <h1 class="text-center">Log in</h1>
            </div>
            <div class="form" [formGroup]="loginForm" (ngSubmit)="sendData()">
                <form method="POST">
                    <div class="mb-f mt-5">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" id="email" name="email" required>
                    </div>
                    <div class="mb-f">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" id="password" name="password" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkChecked" formControlName="rememberMe">
                        <label class="form-check-label text-white" for="checkChecked">
                            Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn">Log in</button>
                    <div class="create-account d-flex justify-content-center align-items-center">
                        <a class="d-flex justify-content-center align-items-center " routerLink="/register">Create account ?</a>
                    </div>
                </form>
            </div>
            <div class="registration d-flex">
                <div class="line"></div>
                <p class="text-center">Or register with</p>
                <div class="line position-relative"></div>
            </div>
            <div class="google d-flex gap-4">
                <button type="button" class="btn p-0 text-white d-flex align-items-center justify-content-center">
                    <div class="GoogleImage">
                        <img src="./assets/Google.png" alt="">
                    </div>
                    <p class="fs-5 mt-3">Google</p>
                </button>
                <button type="button" class="btn p-0 text-white d-flex align-items-center justify-content-center">
                    <div class="GoogleImage">
                        <img src="./assets/Apple.png" alt="">
                    </div>
                    <p class="fs-5 mt-3">Apple</p>
                </button>
            </div>
            
        </div>
    </div>
    
</div>
    