@model AI_based_Language_Teaching.Models.Answer

<h2>Edit Answer</h2>
<form asp-action="Edit" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="QuestionId"></label>
        <input asp-for="QuestionId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserAnswer"></label>
        <input asp-for="UserAnswer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsCorrect"></label>
        <input asp-for="IsCorrect" class="form-control" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
