<!-- <button (click)="getFlags()">Get Flags</button> -->
<!-- <img src="https://flagcdn.com/w320/tg.png"> -->
<!-- @for (flag of flagsRecived; track $index) {
  <div>
    <img [src]="flag.flags.png" [alt]="flag.flags.alt" />
  </div>
} -->

<div  class="Logo">
    <img src="./assets/Logo.png" alt="">
</div>
<div class="overflow-hidden">
    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ff50a5" fill-opacity="1" d="M0,160L60,186.7C120,213,240,267,360,250.7C480,235,600,149,720,117.3C840,85,960,107,1080,149.3C1200,192,1320,256,1380,288L1440,320L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
</div>

<div class="question d-flex justify-content-center align-items-center">
  <h1 class="text-white">Which language do you want to learn?</h1>
</div>
<div class="container d-flex justify-content-center align-items-center rounded-4 shadow p-3 mb-5">
  <div class="flags-grid">
    <div class="img-container d-flex flex-column align-items-center ">
        <img class="image" (click)="changeStyle($event)" src="https://flagcdn.com/w320/um.png" alt="US Flag">
        <p class="text-white">English</p>
    </div>  
    <div class="img-container d-flex flex-column align-items-center ">
        <img class="image" (click)="changeStyle($event)" src="https://flagcdn.com/w320/eg.png" alt="Egypt Flag">
        <p class="text-white">Arabic</p>
    </div> 
    @for(flag of flagsRecived; track $index)
    {
      <div class="img-container d-flex flex-column align-items-center">
        <img class="image" (click)="changeStyle($event)" [src]="flag.flags.png" [alt]="flag.flags.alt" />
        <p class="text-white">{{ flag.flags.alt.split(' ')[3] ?  flag.flags.alt.split(' ')[3] : 'Mayotte' }}</p>
      </div>
    }
  </div>
</div>
<div class="row d-flex justify-content-center align-items-center buttons">
  <div class=" col-6 d-flex justify-content-start align-items-center">
    <button class="button1" routerLink="/login">Previous</button>
  </div>
  <div class="col-6 d-flex justify-content-end align-items-center">
    <button class="button2" [routerLink]="['/test-question',4]">Next</button>
  </div>
</div>

